POSTGRES_DB = movies
POSTGRES_USER = 
POSTGRES_PASSWORD = 
POSTGRES_HOST = postgres
POSTGRES_PORT = 5432

ELASTIC_HOST = elasticsearch
ELASTIC_PORT = 9200
ELASTIC_MOVIES = movies
ELASTIC_PERSONS = persons
ELASTIC_GENRES = genres

STATE_FILENAME = state

TIMEOUT = 10
